.calendarCell
{
    position: relative;
    display: inline-block;
    width: 90px;
    height: 15px;
    cursor: pointer;
    display: inline-block;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.calendarCell input{
    opacity: 0;
    width: 0;
    height: 0;
}

.calendarCellOn{
    position: absolute;
    background-color: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.calendarCellOn:before{
    position: absolute;
    content: "";
    background-color: none;
    width: 90px;
    height: 15px;
   

}
.calendarCell input:checked + .calendarCellOn{
    background-color: white;
}
.calendarTable{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background: none;
    background-color: rgba(255, 255, 255, 0.11);
}

.calendarTh, .calendarTd {
    border: 1px solid rgb(130, 135, 150);
}
.calendarTh{
    text-align: center;
    font-size: 13px;
    color:rgb(45, 56, 105);
    background-color: white;
    padding: 4px;
}
/* The color changes the hours color*/
.calendarTd{
    font-size: 10pt;
    vertical-align: top;
    color: white;
}


.calendarCellOff{
    position: relative;
    display: inline-block;
    width: 90px;
    height: 15px;
    display: inline-block;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
}

/*---------View Event Table------------*/
.calendarViewCell
{
    position: relative;
    display: inline-block;
    width: 90px;
    height: 15px;
    cursor: pointer;
    display: inline-block;
    background: rgb(140, 0, 255);

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.calendarViewCell :hover{
    background: rgb(133, 224, 255);
}

.calendarViewCell input{
    opacity: 0;
    width: 0;
    height: 0;
}

.calendarViewCell input:checked + .calendarCellOn{
    background-color: white;
}


