.internalMenu
{
    background-color:grey;
    font-size: 14pt;
    font-family: helvetica;
    width: 100%;
    padding: 10px;
    text-align: center;
    position: fixed;
}
.calendar{
    background-color:blue;
    font-size: 12pt;
    font-family: helvetica;
    width: 70%;
    padding: 8px;
    text-align: center;
    position: absolute;

}