.Sidebar{
    position: fixed;
    background-color: rgba(151, 157, 175, 0.897);
    height: 100%;
    padding: 0 0 20px 0;
    width: 220px;
    text-align: center;
    overflow-y:scroll;
    overflow-x:hidden;
}
.SideBarBtn
{
    font-size: 10pt;
    width: 200px;
    position: relative;
    font-family: helvetica;
    border: none;
    border-radius: 5px;
    color: #1e2638;
    padding: 5px 15px;
    margin: 5px 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background-color: #f2d49b;
}
.SideBarBtn:hover
{
    background-color: #e5a493;
}
.search
{
    font-size: 10pt;
    width: 198px;
    position: relative;
    font-family: helvetica;
    border: 1px solid;
    border-radius: 30px;
    border-color: rgb(168, 169, 197);
    text-decoration: #1e2638;
    padding: 4px 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.678);
}
.search::placeholder{
    color: #00000077;
}
