.Sidebar{
    position: fixed;
    background-color: rgba(151, 157, 175, 0.897);
    height: 100%;
    width: 180px;
}
.SideBarBtn
{
    font-size: 10pt;
    width: 100%;
    font-family: helvetica;
    border: 1px solid;
    border-radius: 5px;
    color: #1e2638;
    padding: 5px 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    background-color: #f2d49b;
}